name: hello-world
on:
  schedule:
    # Run every day at 2:00 AM UTC
    - cron: '05 * * * *'
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
